.btn {
  border: none;
  color: #fff;
  border-radius: 100px;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1px;
  outline: 0;
  background: $primary-color;
  cursor: pointer;

  &:hover {
    background: $dark-red-color;
  }

  &__signup {
    padding: 1.2rem 0;
    font-size: 1.4rem;
    font-weight: bold;
    width: 20%;
    margin: 3% 0 7%;

    @include respond(desktop) {
      padding: 1.8rem 0;
      margin: 3% 0 28%;
    }

    @include respond(tab-land2) {
      font-size: 3.2rem;
      padding: 2.2rem 0;
      width: 30%;
      margin: 3% 0 8%;
    }

    @include respond(phone) {
      padding: 3rem 0;
      width: 100%;
    }
  }

  &__login {
    display: block;
    width: 100%;
    padding: 1.5rem 0;
    font-weight: bold;
    font-size: 2.4rem;
    margin-top: 16%;

    @include respond(tab-land2) {
      padding: 3rem 0;
      font-size: 3.2rem;
    }

    @include respond(phone) {
      margin-bottom: 18%;
    }
  }

  &__details {
    padding: 1.8rem 0;
    width: 100%;
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 4%;

    @include respond(tab-land2) {
      margin-top: 6%;
      padding: 2rem 0;
    }
  }

  &__change {
    border: none;
    background: transparent;
    font-size: 1.2rem;
    letter-spacing: 0.03em;
    margin-top: 32%;
    color: #cf604a;
    font-weight: 600;
    padding: 1.2rem;
    margin-left: -1.2rem;

    &:hover {
      background: $pink-color;
    }
  }

  &__view {
    padding: 1rem 0;
    width: 100%;
    font-size: 1.8rem;
    line-height: 168%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-color;
    border: 2px solid $primary-color;
    box-sizing: border-box;
    background: transparent;

    @include respond(l-phone2) {
      width: 100%;
      font-size: 2.4rem;
      padding: 1.5rem 0;
    }

    &--2 {
      width: 100%;

      @include respond(l-phone2) {
        width: 48%;
      }
    }

    &:hover {
      color: #fff;
      border: none;
    }
  }

  &__pay {
    padding: 0.6rem 1.4rem;
    font-size: 1.2rem;
    text-decoration: none;
  }

  &__remove {
    font-size: 1.8rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #140300;
    display: flex;
    justify-content: center;
    padding: 1.4rem 0;
    background: transparent;

    @include respond(l-phone2) {
      width: 48%;
    }

    &::before {
      content: url(https://res.cloudinary.com/eddy983/image/upload/v1567940866/remove.svg);
      margin-right: 8px;
    }

    &:hover {
      background: $pink-color;
    }
  }

  &__nav {
    font-size: 1.4rem;
    padding: 1.4rem 4rem;
    text-transform: uppercase;
    font-weight: 500;

    &-signin {
      background: $primary-color;
    }

    &-login {
      background: transparent;
      margin-right: 2%;

      &--b {
        color: $black-color;
      }

      &:hover {
        color: $primary-color;
        background: $white-color;
      }
    }
  }

  &__send {
    width: 28%;
    padding: 0.9rem;
    font-size: 1.8rem;
    border: 2px solid $primary-color;
    background: white;
    text-transform: uppercase;
    color: $primary-color;
    margin-top: 10%;

    &:hover {
      background: $dark-red-color;
      border: 2px solid $dark-red-color;
      color: $white-color;
    }

    @include respond(l-phone2) {
      font-size: 2.4rem;
      width: 100%;
      padding: 2.4rem 0;
    }
  }

  &__bar {
    flex: 2 1 auto;
    font-size: 1.4rem;
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
    margin-left: 1%;

    @include respond(l-phone2) {
      font-size: 2.2rem;
      letter-spacing: 0.03em;
      padding: 2.6rem 0;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
    }
  }

  &__inner {
    width: 100%;
    padding: 1.8rem 0;
    flex: 1 1 40%;
    font-size: 2.4rem;
    margin-top: 2%;

    &--pay {
      flex: 1 1 40%;
    }

    &--install {
      flex: 1 1 60%;
      margin-left: 3%;
      background: #B3C6D0;
      
      &:hover {
        background: #8EAAB9;
      }
    }
  }

  &__payment {
    padding: 1.2rem 6.4rem;

    font-size: 2.4rem;
  }

  &__download {
    font-size: 1.2rem;
    padding: 1rem 3rem;
  }

  &__tour {
    color: $primary-color;
    background: transparent;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem 0;
    margin-top: 4%;

    @include respond(l-phone2) {
      font-size: 2.8rem;
    }

    &:hover {
      background: transparent;
      color: $dark-red-color;
    }
  }
}
