.input {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-bottom: 3%;

  @include respond(desktop) {
    margin-bottom: 6%;
  }

  @include respond(phone) {
    width: 100%;
  }

  &__label {
    font-size: 1.4rem;
    color: $black-color-2;

    @include respond(tab-land2) {
      font-size: 2.4rem;
    }

    &--acct {
      color: #a8a8a8;
    }
  }

  &__field {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);

    @include respond(tab-land2) {
      font-size: 2.6rem;
      padding: 2rem;
    }

    &:focus {
      // border: 1.8px solid rgba(217, 106, 83, 0.45);
      box-shadow: 0px 0px 2px rgba(217, 106, 83, 0.75);
    }
  }
}

.input__field::placeholder {
  color: $grey-light-color;
}

.empty {
  color: $grey-light-color;
}

.w100 {
  width: 100%;
}

.lc {
  margin-bottom: 2%;
}

input:valid {
  background: url(https://res.cloudinary.com/eddy983/image/upload/v1568888695/checked.svg);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 96% 50%;
}


