.map {
  padding: 0 4%;
  margin-top: 12%;

  @include respond(desktop-min) {
    padding: 0% 8%; 
  }

  &__showcase {
    height: 85vh;
    width: 100%;

    @include respond(l-phone2) {
      height: 40vh;
    }
  }
}