.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1% 4%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  align-items: center;

  @include respond(desktop-min) {
    padding: 1% 8%; 
  }

  &--trans {
    box-shadow: none;
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__logo {
    width: 6.7rem;
    height: 4rem;
  }

  &__link {
    display: flex;
    list-style-type: none;

    @include respond(tab-land2) {
      display: none;
    }

    &__items {
      &:not(:first-child) { 
        margin-left: 14%;

        @include respond(desktop-min) {
          margin-left: 18%;
        }
      }

      &__link {
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $black-color;
        text-decoration: none;

        @include respond(desktop-min) {
          font-size: 1.8rem;
        }

        &--white {
          color: $white-color;
        }

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}
