.progress {
  display: flex;
  justify-content: space-between;
  padding: 8% 4%;
    background: #FBF9F4;
    margin-top: 12%;

  &--1 {
    flex: 0 0 48%;

    @include respond(tab-port3) {
      flex: 0 0 100%;
    display: flex;
    justify-content: center;
    }

    @include respond(l-phone) {
      height: 20%;
      width: 20%;
    }
  }

  &--2 {
    flex: 0 0 48%;
    position: relative;

    @include respond(tab-port3) {
    display: none;
    }
  }

  &__texts {
    @include position;
  }

  &__no {
    font-weight: bold;
    font-size: 4rem;
  }

  &__title {
    font-size: 1.6rem;
  }
}

.radialProgressBar {
  @include position;
  border-radius: 50%;
  width: 34rem;
  height: 34rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ddd;
  margin: 20px;
}

.radialProgressBar .overlay {
  border-radius: 50%;
  width: 32rem;
  height: 32rem;
  margin: auto;
  background: transparent;
  text-align: center;
  padding-top: 30%;
}

.progress-10 {
  background-image: -webkit-linear-gradient(36deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #028cd5 50%, #ddd 50%);
  background-image: linear-gradient(54deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #028cd5 50%, #ddd 50%);
}

//  Show number of percentages
.progress-curve {
  position: relative;

  &__number {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Rounded border */
    border: 12px solid #f2f2f2;
    border-radius: 9999px;

    /* Size */
    @include curve;
    font-size: 2.4rem;
  }

  &__curve {
    /* Position */
    left: 0;
    position: absolute;
    top: 0;

    /* Take full size */
    height: 100%;
    width: 100%;

    /* If percentages is less than 50 */
    clip: rect(0px, 128px, 128px, 64px);

    /* If percentages is greater than or equals to 50 */
    clip: rect(auto, auto, auto, auto);
  }

  &__half {
    /* Take full size */
    position: absolute;

    @include curve;

    /*
    Background color of curve.
    The border width should be the same as the area showing the percentages
    */
    border: 12px solid $pinkish-red;
    border-radius: 9999px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(255, 64, 75, 0.12), 0px 10px 20px rgba(255, 64, 75, 0.18);

    /* Position */
    clip: rect(0px, 64px, 128px, 0px);
    transform: rotate(162deg); /* Number of percentages * 360 / 100 */
  }


}
