/* The container */
.container {
  display: block;
  position: absolute;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 25%;
  left: 25%;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: $white-color;
  border-radius: 2px;
  border: 1px solid #A8A8A8;

  @include respond(m-phone-m) {
    height: 16px;
    width: 16px;
  }
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  border: 1px solid $primary-color;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  border: 1px solid $primary-color;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid $primary-color;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

  @include respond(m-phone-m) {
    left: 5px;
    top: 1px;
  }
}

.radio {
  padding: 0;
	position: relative;
	
	&__direct {
		width: 14px;
		height: 14px;
		margin-right: 2%;
	}
}




.radio-container {
	position: relative;
	margin: 6% auto 0;
	font-size: 1.5rem;
}
.radiobtn {
	position: relative;
  display: block;
  &__text {
    margin-left: 44px;
    text-transform: uppercase;
  }
	label {
		display: block;
		background: #f2f2f2;
		color: $black-color;
		border-radius: 5px;
		padding: 2rem;
		border: 2px solid transparent;
		margin-bottom: 3%;
		cursor: pointer;
		&:after,
		&:before {
			content: "";
			position: absolute;
			left: 24px;
			top: 50%;
			width: 20px;
			height: 20px;
			border-radius: 3px;
      background: transparent;
      transform: translateY(-50%);
      border: 1px solid #A8A8A8;
		}
		&:before {
			background: transparent;
			transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s,
				0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
			z-index: 2;
			overflow: hidden;
			background-repeat: no-repeat;
			background-size: 13px;
			background-position: center;
			width: 0;
			height: 0;
			background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
		}
	}
	input[type="radio"] {
		display: none;
		position: absolute;
		width: 100%;
    appearance: none;
    border: 1px solid #A8A8A8;
		&:checked + label {
			background: $white-color;
			animation-name: blink;
			animation-duration: 1s;
			border-color: $primary-color;
			&:after {
        background: $primary-color;
        border: 1px solid $primary-color;
			}
			&:before {
				width: 20px;
				height: 20px;
        border: 1px solid $primary-color;
			}
		}
	}
}

@keyframes blink {
	0% {
		background-color: lighten($primary-color, 48%);
	}
	10% {
		background-color: lighten($primary-color, 48%);
	}
	11% {
		background-color: lighten($primary-color, 95%);
	}
	29% {
		background-color: lighten($primary-color, 95%);
	}
	30% {
		background-color: lighten($primary-color, 48%);
	}
	50% {
		background-color: lighten($primary-color, 95%);
	}
	45% {
		background-color: lighten($primary-color, 48%);
	}
	50% {
		background-color: lighten($primary-color, 95%);
	}
	100% {
		background-color: lighten($primary-color, 48%);
	}
}



.radio-2 {
	display: flex;
	align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 2.4rem;
  margin-right: 5%;
}
.radio-2 .label {
  position: relative;
  display: block;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border: 2px solid #c8ccd4;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}
.radio-2 .label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: $primary-color;
  transform: scale(0);
  transition: all 0.2s ease;
  opacity: 0.08;
  pointer-events: none;
}
.radio-2:hover .label:after {
  transform: scale(3.6);
}
input[type="radio"]:checked + .label {
  border-color: $primary-color;
}
input[type="radio"]:checked + .label:after {
  transform: scale(1);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}
.cntr {
	display: flex;
	margin: 4% 0;
  position: relative;
  width: 100%;

}
.hidden {
  display: none;
}
