*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* To get the pecentage 10px(wanted font) / 16px(root font) = 0.625
  0.625 x 100 = 62.5% */
  font-size: 62.5%;

  @include respond(m-phone-m) {
    font-size: 40%; 
  }
}

body {
  box-sizing: border-box; 

  @include respond(tab-land2) {
    height: 100vh;
    position: relative;
  }

  @include respond(tab) {
    height: 100%;
    position: unset; 
  }
}