body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $black-color;
}

.signup {
  &__heading {
    font-weight: 500;
    font-size: 2.4rem;

    @include respond(tab-land2) {
      font-size: 4.4rem;
    }
  }

  &__sub {
    color: $grey-color;
    font-size: 1.6rem;

    @include respond(tab-land2) {
      font-size: 2.8rem;
    }
  }

  &__acct {
    font-size: 1.4rem;
    color: $grey-color-2;

    @include respond(tab-land2) {
      font-size: 2.4rem;
    }

    &__link {
      font-weight: bold;
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__terms {
    font-size: 1.2rem;
    text-decoration: none;
    color: $grey-color-3;

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }

    @include respond(desktop) {
      font-size: 1.4rem;
    }
  }
}
.login {
  &__heading {
    font-size: 3.6rem;
    text-align: center;

    @include respond(tab-land2) {
      font-size: 5.6rem;
    }
  }

  &__link {
    font-size: 1.2rem;
    color: $primary-color;
    text-decoration: none;

    @include respond(tab-land2) {
      font-size: 2.2rem;
    }

    @include respond(phone) {
      font-size: 2.6rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.account {
  &__heading {
    font-size: 2.7rem;
    line-height: 168%;
    letter-spacing: 0.03em;
    font-weight: 400;

    @include respond(l-phone2) {
      font-size: 3rem;
    }
  }

  &__main {
    font-size: 3.6rem;
  }

  &__arrow {
    font-size: 3.6rem;
    font-weight: bold;
    margin-right: 8%;
    text-decoration: none;
    color: $black-color;
  }

  &__details {
    letter-spacing: 0.03em;

    &__heading {
      font-size: 1.2rem;
    }

    &__name {
      font-size: 1.6rem;
    }
    &__sub {
      font-size: 1.2rem;
      letter-spacing: 0.03em;
      color: #a8a8a8;
    }
  }

  &__trans {
    &__type {
      font-size: 1.4rem;
      font-weight: bold;

      @include respond(l-phone2) {
        font-size: 2.4rem;
      }
    }

    &__unit {
      font-size: 1.4rem;

      @include respond(l-phone2) {
        font-size: 2.4rem;
      }
    }
  }
}

.payment {
  &__sub {
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__text {
    font-size: 1.2rem;
  }
}

.footer {
  &__copyright {
    font-size: 1.4rem;
    color: #a8a8a8;
  }
}
