.mt-1-5p {
  margin-top: 1.5%;
}

.mt-3 {
  margin-top: 3%; 
}

.mt-6p {
  margin-top: 4%; 
}

.mb-12 {
  margin-bottom: 12%;
}

.mt-6 {
  margin-top: 6%;
}

.grey-bg {
  background: #EBEBEB;
}

.tab-d {
  @include respond(tab-land2) {
    display: none !important;
  }
}

.phone-d {
  @include respond(l-phone2) {
    display: none !important;
  }
}

.phone-sx-d {
  @include respond(sx-phone) {
    display: none !important;
  }
}

.logo-d {
  display: none;

  @include respond(tab-land2) {
    display: flex;
  }
}

.green-color {
  color: #5FB391;
}

.red-color {
  color: #C9472C;
}

.blue-color {
  color: #2ca7e0;
}

.unset {
  position: unset;
}

.w50 {
  width: 50%;

  @include respond(l-phone2) {
    width: 100%;
  }
}

.w100 {
  width: 100%;
}