.mt-1-5p {
  margin-top: 1.5%;
}

.mt-3 {
  margin-top: 3%; 
}

.mt-6p {
  margin-top: 4%; 
}

.mb-12 {
  margin-bottom: 12%;
}

.grey-bg {
  background: #EBEBEB;
}

.tab-d {
  @include respond(tab-land2) {
    display: none !important;
  }
}

.phone-d {
  @include respond(l-phone2) {
    display: none !important;
  }
}

.logo-d {
  display: none;

  @include respond(tab-land2) {
    display: flex;
  }
}