// COLORS
$primary-color: #C9472C;
$dark-red-color: #9f3823;
$pink-color: #fae9e6;
$black-color: #140300;
$black-color-2: #262626;
$black-color-3: #333333;
$grey-light-color: #CDD0D0;
$grey-light-color-2: #d6d6d6;
$grey-color: #858585;
$grey-color-2: #7A7A7A;
$grey-color-3: #919191;
$bluish-grey-color: #8D9496;
$white-color: #fff;


