// COLORS
$primary-color: #C9472C;
$black-color: #140300;
$black-color-2: #262626;
$black-color-3: #262626;
$grey-light-color: #CDD0D0;
$grey-color: #858585;
$grey-color-2: #7A7A7A;
$grey-color-3: #919191;
$white-color: #fff;


