.account {
  display: flex;
  padding: 0 4%;
  margin-top: 6%;
  justify-content: space-between;
  align-items: flex-start;

  @include respond(tab-land2) {
    margin-top: 12%;
  }

  &__nav {
    flex: 0 0 28%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;

    @include respond(tab-land2) {
      flex: 0 0 100%;
    }

    &__items {
      display: flex;
      flex-direction: column;
    }

    &__item {
      padding: 1.6rem 3.2rem;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      letter-spacing: 0.03em;
      color: #140300;
      text-decoration: none;

      &::after {
        font-weight: bold;
        font-size: 2.7rem;
        content: ">";
        display: none;
        margin-left: auto;
        color: #c7c7c7;

        @include respond(tab-land2) {
          display: block;
        }
      }

      @include respond(tab-land2) {
        padding: 3.6rem 3.2rem;
        font-size: 2.5rem;
      }

      &:hover {
        background: #f5f5f5;
      }

      &--lo {
        font-weight: bold;
        color: $primary-color;
        display: flex;
        justify-content: center;

        &::after {
          display: none;
        }

        &:hover {
          background: #fae9e6;
        }
      }

      &:first-child {
        border-radius: 8px 8px 0 0;
      }

      &:last-child {
        border-radius: 0 0 8px 8px;
      }
    }

    &__icon {
      margin-right: 8%;

      @include respond(tab-land2) {
        height: 4rem;
        width: 4rem;
      }
    }

    &__line {
      border: 0.75px solid #e3e3e3;
    }
  }

  &__content {
    flex: 0 0 68%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding: 2.4rem 3.2rem 4.4rem 3.2rem;

    @include respond(tab-land2) {
      flex: 0 0 100%;
    }
  }

  &__transactions {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 6%;
  }

  &__transaction {
    border: 0.75px solid #d6d6d6;
    border-radius: 8px;
  }

  &__details {
    flex: 0 0 38%;
    border: 0.75px solid #d6d6d6;
    border-radius: 8px;

    &__header {
      padding: 1.2rem 2.4rem;
      border-bottom: 0.75px solid #d6d6d6;
    }

    &__body {
      padding: 2.4rem 2.4rem 1.2rem;
    }
  }
}

table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 1.2rem 1.6rem;
  text-align: left;
  // font-size: 1.2rem;
  // letter-spacing: 0.03em;
}

th {
  text-transform: uppercase;
}

tr {
  &:not(:last-child) {
  border-bottom:  0.75px solid #d6d6d6;
  }
}
