.account {
  display: flex;
  padding: 0 4%;
  margin-top: 6%;
  justify-content: space-between;
  align-items: flex-start;

  @include respond(desktop-min) {
    padding: 0% 8%;
  }

  @include respond(tab-land2) {
    margin-top: 12%;
  }

  &__header {
    padding: 5% 4%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    display: none;
    align-items: center;

    @include respond(tab-land2) {
      display: flex;
    }
  }

  &__nav {
    flex: 0 0 28%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;

    @include respond(tab-land2) {
      flex: 0 0 100%;
    }

    &__items {
      display: flex;
      flex-direction: column;
    }

    &__item {
      padding: 1.6rem 3.2rem;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      letter-spacing: 0.03em;
      color: #140300;
      text-decoration: none;

      &::after {
        font-weight: bold;
        font-size: 2.7rem;
        content: ">";
        display: none;
        margin-left: auto;
        color: #c7c7c7;

        @include respond(tab-land2) {
          display: block;
        }
      }

      @include respond(tab-land2) {
        padding: 3.6rem 3.2rem;
        font-size: 2.5rem;
      }

      &:hover {
        background: #f5f5f5;
      }

      &--lo {
        font-weight: bold;
        color: $primary-color;
        display: flex;
        justify-content: center;

        &::after {
          display: none;
        }

        &:hover {
          background: #fae9e6;
        }
      }

      &:first-child {
        border-radius: 8px 8px 0 0;
      }

      &:last-child {
        border-radius: 0 0 8px 8px;
      }
    }

    &__icon {
      margin-right: 8%;

      @include respond(tab-land2) {
        height: 4rem;
        width: 4rem;
      }
    }

    &__line {
      border: 0.75px solid #e3e3e3;
    }
  }

  &__content {
    flex: 0 0 68%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding: 2.4rem 3.2rem 4.4rem 3.2rem;

    @include respond(tab-land2) {
      flex: 0 0 100%;
    }
  }

  &__overviews {
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
  }

  &__overview {
    border: 0.75px solid $grey-light-color-2;
    border-radius: 8px;
    margin-top: 5%;
  }

  &__details {
    flex: 0 0 47.5%;
    border: 0.75px solid $grey-light-color-2;
    border-radius: 8px;

    &__header {
      padding: 1.2rem 2.4rem;
      border-bottom: 0.75px solid $grey-light-color-2;
    }

    &__body {
      padding: 2.4rem 2.4rem 1.2rem;
      display: flex;
      align-items: center;
    }

    &__transactions {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__investments {
      margin-left: 24%;
    }

    &__pendings {
      padding: 0 2.4rem 2.4rem;
    }

    &__pending {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 4%;
      }
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
  }

  &__status {
    display: flex;
    align-items: center;
  }

  &__stat {
    border-radius: 4px;
    color: $white-color;
    font-size: 1.2rem;
    margin-left: 3%;
    padding: 5px 12px;
  }

  &__transaction {
    border: 0.75px solid $grey-light-color-2;
    border-radius: 8px;
    padding: 3.2rem;
    margin-top: 6%;

    &:not(:first-child) {
      margin-top: 4.5%;

      @include respond(sx-phone) {
        margin-top: 10%;
      }
    }

    &--2 {
      padding: 3.6rem 1.6rem;
      flex: 0 0 47.5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:not(:first-child) {
        margin-top: 0%;
      }
    }

    @include respond(sx-phone) {
      margin-top: 10%;
    }

    @include respond(l-phone2) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &__trans {
    &__items {
      display: flex;
      align-items: stretch;
      justify-content: space-between;

      @include respond(l-phone2) {
        order: 1;
      }
    }

    &__imgs {
      display: flex;
      flex: 0 0 69%;
      align-items: start;
      justify-content: space-between;

      @include respond(l-phone2) {
        display: none;
      }
    }

    &__img {
      width: 100%;
      height: 21.6rem;
      object-fit: cover;

      &--2 {
        height: 14.6rem;
      }
    }

    &__info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 3%;
    }

    &__text {
      @include respond(l-phone2) {
        text-align: center;
      }
    }

    &__statuses {
      display: flex;
      margin: 4% 0 0;
      align-items: center;

      @include respond(l-phone2) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }

    &__status {
      margin-right: 4.2rem;

      &:not(:first-child) {
        margin: 0 4.2rem 0 2rem;

        @include respond(l-phone2) {
          margin: 0;
        }
      }

      &--2 {
        margin-right: 1.8rem;

        &:not(:first-child) {
          margin: 0 1.8rem 0 1.4rem;
  
          @include respond(l-phone2) {
            margin: 0;
          }
        }
      }

      @include respond(l-phone2) {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      
    }

    &__line {
      height: 3.8rem;
      border: 0.5px solid $grey-light-color-2;

      @include respond(l-phone2) {
        opacity: 0;
      }
    }
  }

  &__payment {
    border: 0.75px solid $grey-light-color-2;
    border-radius: 8px;
    margin-top: 8%;

    &--1 {
      margin: 6% 0 5%;
    }
  }

  &__int {
    display: flex;
    justify-content: space-between;
    border: 0.75px solid $grey-light-color-2;
    border-radius: 8px;
    padding: 3.2rem;
    margin-top: 6%;

    @include respond(l-phone2) {
      flex-direction: column;
      margin-top: 20%;
    }

    &:not(:first-child) {
      margin-top: 4%;

      @include respond(l-phone2) {
        margin-top: 10%;
      }
    }

    &__items {
      display: flex;
      width: 70%;
    }

    &__imgs {
      height: 18.6rem;
      width: 40%;

      @include respond(l-phone2) {
        display: none;
      }
    }

    &__img {
      height: 100%;
      width: 100%;
      object-fit: cover;

      @include respond(l-phone2) {
        display: none;
      }
    }

    &__texts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 4%;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      width: 30%;
      justify-content: space-between;

      @include respond(l-phone2) {
        flex-direction: row;
        width: 100%;
        border-top: 1px solid $grey-light-color-2;
        padding-top: 10%;
        margin-top: 10%;
      }
    }
  }
  
  &__advert {
    height: 14rem;
    margin-top: 5%;

    &__img {
      height: 100%;
      width: 100%;
    }
  }
}

table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 1.2rem 1.6rem;
  text-align: left;
  // font-size: 1.2rem;
  // letter-spacing: 0.03em;
}

th {
  text-transform: uppercase;
}

tr {
  &:not(:last-child) {
    border-bottom: 0.75px solid $grey-light-color-2;
  }
}
