.building {
  display: flex;

  &__contact {
    flex: 0 0 40%;
    background: #07122c;
    padding: 4% 5%;

    @include respond(l-phone2) {
      display: none;
    }
  }

  &__content {
    flex: 0 0 60%;
    padding: 4% 5%;

    @include respond(l-phone2) {
      flex: 0 0 100%;
    }
  }

  &__buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 12%;

    @include respond(l-phone2) {
      flex-direction: column;
    }
  }

  &__link {
    flex: 0 0 calc((100% - 2 * 30px) / 3);
    text-decoration: none;
    box-shadow: 0px 0px 4px rgba(69, 80, 89, 0.34);
    border-radius: 8px;
    transition: all 0.01s;

    &:hover {
      box-shadow: 0 0 0 2px $primary-color;
    }

    @include respond(l-phone2) {
      &:not(:first-child) {
        margin-top: 12%;
      }
    }
  }

  &__button {
    padding: 3.2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(l-phone2) {
      padding: 5rem 0;
    }

    &__text {
      font-size: 1.4rem;
      color: #140300;
      margin-top: 8%;

      @include respond(l-phone2) {
        font-size: 3.4rem;
      }

    }

    &__img {
      @include respond(l-phone2) {
        height: 14rem;
      }
    }
  }

  &__note {
    font-size: 1.4rem;
    color: #333;
    width: 100%;
    margin-top: -2%;
  }
}
